{% load static %}
    <!-- Modal for Image 1 -->
    <div class="modal fade" id="modalImage1" tabindex="-1" role="dialog" aria-labelledby="modalImage1Label" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalImage1Label">Reddit Posts Count vs Youtube Video Count (Number of New Entries per Day)</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <!-- Your image for John Doe here -->
                    <img src="{% static 'da.jpg' %}" alt="Reddit Posts Count vs Youtube Video Count (Number of New Entries per Day)" class="img-fluid">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal for Image 2 -->
    <div class="modal fade" id="modalImage2" tabindex="-1" role="dialog" aria-labelledby="modalImage2Label" aria-hidden="true">
        <!-- Add a loading spinner -->
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalImage2Label">Reddit Comments Count vs Youtube Video Comments Count (Number of New Entries per Day)</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <!-- Your image for Jane Doe here -->
                    <img src="{% static 'db.jpg' %}" alt="Reddit Comments Count vs Youtube Video Comments Count (Number of New Entries per Day)" class="img-fluid">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal for Image 3 -->
    <div class="modal fade" id="modalImage3" tabindex="-1" role="dialog" aria-labelledby="modalImage2Label" aria-hidden="true">
        <!-- Add a loading spinner -->
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalImage2Label">Classification of Reddit Posts from ModerateHatespeech</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <!-- Your image for Jane Doe here -->
                    <img src="{% static 'dc.jpg' %}" alt="Classification of Reddit Posts from ModerateHatespeech" class="img-fluid">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal for Image 4 -->
    <div class="modal fade" id="modalImage4" tabindex="-1" role="dialog" aria-labelledby="modalImage2Label" aria-hidden="true">
        <!-- Add a loading spinner -->
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalImage2Label">Classification of Youtube Videos from ModerateHatespeech</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <!-- Your image for Jane Doe here -->
                    <img src="{% static 'dd.jpg' %}" alt="Classification of Youtube Videos from ModerateHatespeech" class="img-fluid">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal for Image 5 -->
    <div class="modal fade" id="modalImage5" tabindex="-1" role="dialog" aria-labelledby="modalImage2Label" aria-hidden="true">
        <!-- Add a loading spinner -->
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalImage2Label">Classification of Reddit Comments from ModerateHatespeech</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <!-- Your image for Jane Doe here -->
                    <img src="{% static 'de.jpg' %}" alt="Classification of Reddit Comments from ModerateHatespeech" class="img-fluid">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal for Image 6 -->
    <div class="modal fade" id="modalImage6" tabindex="-1" role="dialog" aria-labelledby="modalImage2Label" aria-hidden="true">
        <!-- Add a loading spinner -->
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalImage2Label">Classification of Youtube Comments from ModerateHatespeech</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <!-- Your image for Jane Doe here -->
                    <img src="{% static 'df.jpg' %}" alt="Classification of Youtube Comments from ModerateHatespeech" class="img-fluid">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal for Image 7 -->
    <div class="modal fade" id="modalImage7" tabindex="-1" role="dialog" aria-labelledby="modalImage2Label" aria-hidden="true">
        <!-- Add a loading spinner -->
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalImage2Label">Reddit Posts Content Popularity Analysis</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <!-- Your image for Jane Doe here -->
                    <img src="{% static 'dg.jpg' %}" alt="Reddit Posts Content Popularity Analysis" class="img-fluid">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal for Image 8 -->
    <div class="modal fade" id="modalImage8" tabindex="-1" role="dialog" aria-labelledby="modalImage2Label" aria-hidden="true">
        <!-- Add a loading spinner -->
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalImage2Label">Youtube Videos Content Popularity Analysis</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <!-- Your image for Jane Doe here -->
                    <img src="{% static 'dh.jpg' %}" alt="Youtube Videos Content Popularity Analysis" class="img-fluid">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal for Image 9 -->
    <div class="modal fade" id="modalImage9" tabindex="-1" role="dialog" aria-labelledby="modalImage2Label" aria-hidden="true">
        <!-- Add a loading spinner -->
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalImage2Label">Sentiment Analysis of Reddit Comments and Youtube Comments</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <!-- Your image for Jane Doe here -->
                    <img src="{% static 'di.jpg' %}" alt="Sentiment Analysis of Reddit Comments and Youtube Comments" class="img-fluid">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal for Image 10 -->
    <div class="modal fade" id="modalImage10" tabindex="-1" role="dialog" aria-labelledby="modalImage2Label" aria-hidden="true">
        <!-- Add a loading spinner -->
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalImage2Label">Subreddit Engagement Metrics Analysis (Engagement of Subscribers with respect to Comments)</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <!-- Your image for Jane Doe here -->
                    <img src="{% static 'dj.jpg' %}" alt="Subreddit Engagement Metrics Analysis (Engagement of Subscribers with respect to Comments)" class="img-fluid">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal for Image 11 -->
    <div class="modal fade" id="modalImage11" tabindex="-1" role="dialog" aria-labelledby="modalImage2Label" aria-hidden="true">
        <!-- Add a loading spinner -->
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalImage2Label">Youtube Engagement Metrics Analysis (Engagement of Subscribers with respect to Comments)</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <!-- Your image for Jane Doe here -->
                    <img src="{% static 'dk.jpg' %}" alt="Youtube Engagement Metrics Analysis (Engagement of Subscribers with respect to Comments)" class="img-fluid">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>


    <!-- Modal for Image 21 -->
    <div class="modal fade" id="modalImage21" tabindex="-1" role="dialog" aria-labelledby="modalImage2Label" aria-hidden="true">
        <!-- Add a loading spinner -->
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalImage2Label">Exploring the Language Landscape: Most Used Words</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <!-- Your image for Jane Doe here -->
                    <img src="{% static 'fda.jpg' %}" alt="Exploring the Language Landscape: Most Used Words" class="img-fluid">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>


    <!-- Modal for Image 22 -->
    <div class="modal fade" id="modalImage22" tabindex="-1" role="dialog" aria-labelledby="modalImage2Label" aria-hidden="true">
        <!-- Add a loading spinner -->
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalImage2Label">Unveiling Common Ground: Top 30 Words Shared Between Two Social Media Platforms</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <!-- Your image for Jane Doe here -->
                    <img src="{% static 'fdb.jpg' %}" alt="Unveiling Common Ground: Top 30 Words Shared Between Two Social Media Platforms" class="img-fluid">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal for Image 23 -->
    <div class="modal fade" id="modalImage23" tabindex="-1" role="dialog" aria-labelledby="modalImage2Label" aria-hidden="true">
        <!-- Add a loading spinner -->
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalImage2Label">Analyzing User Engagement Across Social Media Platforms</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <!-- Your image for Jane Doe here -->
                    <img src="{% static 'fdc.jpg' %}" alt="Analyzing User Engagement Across Social Media Platforms" class="img-fluid">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>


    <!-- Modal for Image 24 -->
    <div class="modal fade" id="modalImage24" tabindex="-1" role="dialog" aria-labelledby="modalImage2Label" aria-hidden="true">
        <!-- Add a loading spinner -->
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalImage2Label">Youtube Engagement Metrics Analysis (Engagement of Subscribers with respect to Comments)</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <!-- Your image for Jane Doe here -->
                    <img src="{% static 'fdd.jpg' %}" alt="Youtube Engagement Metrics Analysis (Engagement of Subscribers with respect to Comments)" class="img-fluid">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>